#/////////////////////////////////////////////////////////////////////////////
# Visual Studio Code files
#/////////////////////////////////////////////////////////////////////////////

.vs/
node_modules/
